*{
	font-family:Montserrat;
}
#services{
	margin-top: 25px;
	padding:20px;

}
.column{
	padding:20px;
	text-align: center;
}
.servcont{
	margin-top: 45px;
}
#gallery{
	margin-top: 100px;
}
button{
	margin-top: 100px;
}
footer{
	padding: 20px;
	background-color:	#808080;
	margin-top: 50px;
}
.footerlink{
	color: black;

}
.footerlink:hover{
	color: white;
}